<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PJWaxPatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C3FBA2211D123360001CFD85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3FBA23A1D123361001CFD85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3FBA2451D123361001CFD85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
